/autom4te.cache
/build-aux
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
Makefile
Makefile.in
stamp-h1

/src/.deps
/src/.dirstamp
/src/*.o

.autotools
.cproject
.project
.settings/

dcto8d
dcto8d.ini
