/autom4te.cache
/build-aux
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile
Makefile.in
stamp-h1

/src/.deps
/src/.dirstamp
/src/*.o
/src/*.lo

/libretro/*.o
/libretro/*.so

.autotools
.cproject
.project
.settings/

theodore
theodore.dat

*~
